body{
	background:#19101D;
	margin:0;
}

#wrapper{
	font-family: 'Biko';
	width:500px;
	margin:0px auto;	
	font-weight:;
	
}

#systemStatus{
	margin:40px auto 0px;
	padding:0px;
	width:500px;
	background:#333;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#preloader{
	width:100%;
	height:100px;
	background:#000;
	opacity:0.5;
	z-index:10;
}

#system{
	text-align:center;
	color:#FFF;
}

#footer{
	border-radius: 0px 0px 15px 15px;
	border:none;
	width:100%;
	float:left;
}

#timer{
	text-align:center;
	color:#FFF;
}

#title{
	border-radius: 15px 15px 0px 0px;
	margin:0px;
}

#footer p{
	text-align:center;
}

#footer a{
	color:#6441A5;
	text-decoration:none;
}
#footer a:hover{
	color:#FFF;
	text-decoration:underline;
}

.section{
	width:100%;
	float:left;
	height:50px;
	background:#201A22;
	border-bottom:1px solid #2C2C2C;
}
.item{
	width:100%;
	height:50px;
	background:#0D0411;
	float:left;
	border-bottom:1px solid #2C2C2C;
}
#refresh{
	width:100%;
	height:50px;
	background:#493D4E;
	border-bottom:1px solid #444;
}
.sectionLabel{
	float:left;
	font-size: 1em;
	color: #FFF;
	line-height:1.5;
	margin:12px;
}
.sectionStatus{
	float:right;
	font-size: 1em;
	line-height:1.5;
	margin:12px;
}
.green{
	color:#00E000;
}
.red{
	color:#C00000;
}
.orange{
	color:#FFA500;
}
.white{
	color:#FFF;
}
.purple{
	color:#0D0411;
}

@font-face {
    font-family: "GeoSans";
    src: url(../fonts/GeosansLight.ttf) format("truetype");
}

@font-face {
    font-family: "Biko";
    src: url(../fonts/Biko_Regular.otf) format("opentype");
}